/* MiniChatBox.css */

/* User */
.mini-chat-user {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mini-chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.mini-chat-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* Chat Box */
.mini-chat-box {
  height: 50%;
  background-color: #f0edd4;
  border: 5px solid #00092c;
  border-radius: 8px;
  padding: 20px;
  max-width: 300px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  overflow: hidden; /* Add this line to prevent content overflow */
}

/* Add media query to adjust chat box size for smaller devices */
@media (max-width: 768px) {
  .mini-chat-box {
    max-width: 100%;
    width: 90%;
    height: 60%;
    bottom: 10px;
    right: 5%;
  }
}

.mini-chat-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.headinput {
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-st;
}

#other {
  display: flex;
  justify-content: flex-start;
  padding: 4px;
}

#you {
  display: flex;
  justify-content: flex-end;
  padding: 4px;
}

#other span {
  max-width: 200px;
  object-fit: contain;
  background-color: #edc988;
  border-radius: 8px;
  padding: 5px;
  word-break: break-word;
}

#you span {
  max-width: 200px;
  color: #000;
  object-fit: contain;
  background-color: #cbe2b0;
  border-radius: 8px;
  padding: 6px;
  word-break: break-word;
  color: #353839;
}

.mini-chat-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.mini-chat-close i {
  color: #333;
}

.mini-chat-close:hover i {
  color: #ff5a5f;
}

/* Chat Content */
.mini-chat-content {
  min-width: 250px;
  max-height: calc(100% - 100px); /* Adjust the max height to fit the remaining space */
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  position: relative; /* Add this line to make the position relative */
}

.mini-chat-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Chat Input */
.mini-chat-input {
  display: flex;
  align-items: center;
  position: absolute; /* Change position to absolute */
  bottom: 20px; /* Adjust the distance from the bottom */
  left: 20px; /* Adjust the distance from the left */
  right: 20px; /* Adjust the distance from the right */
  margin-bottom: 10px; /* Add margin-bottom to create space between chat content and input */
}

.mini-chat-input input {
  flex: 1;
  padding: 8px;
  border: none;
  border: 2px solid #00092c;
  border-radius: 4px;
  margin-right: 10px;
}

.mini-chat-send {
  background-color: #4aa96c;
  width: 50px;
  height: 30px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mini-chat-send:hover {
  background-color: #444444;
}

hr {
  height: 3px;
  color: #000;
}
