.left-sidebar {
    width: 330px;
    background-color: #222831;
    color: #ffffff;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    margin: 0;
    border: 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    padding-right: 80px;
}

.sidebar-options {
    font-size: 22px;
    
    list-style: none;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #30475e;
}

.option i {
    margin-right: 10px;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}
