.settings-container {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 0;
    padding: 30px;
    margin-top: 10%;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.settings-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333;
}

.settings-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.settings-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    color: #333333;
    transition: color 0.3s;
    flex-grow: 1;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 8px;
}

.settings-label:hover {
    color: #4287f5;
}

.settings-input {
    flex-grow: 1;
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s;
    background-color:#f1dcdc;
}

.settings-input:focus {
    border-color: #4287f5;
}

.settings-value {
    font-weight: bold;
}

.settings-button {
    width: 8%;
    height: 8%;
    padding: 4px 12px;
    border: none;
    border-radius: 4px;
    background-color: #4287f5;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.settings-button:hover {
    background-color: #3366cc;
}

.settings-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.settings-submit,
.settings-cancel {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4287f5;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.settings-submit:hover,
.settings-cancel:hover {
    background-color: #3366cc;
}

.settings-cancel {
    background-color: #cccccc;
}

.settings-cancel:hover {
    background-color: #999999;
}

.settings-form {
    display: flex;
    flex-direction: column;
}

.settings-form input[type="text"],
.settings-form input[type="email"],
.settings-form input[type="password"] {
    margin-top: 8px;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.settings-form input[type="text"]:focus,
.settings-form input[type="email"]:focus,
.settings-form input[type="password"]:focus {
    border-color: #4287f5;
}

.settings-form input[type="text"]:hover,
.settings-form input[type="email"]:hover,
.settings-form input[type="password"]:hover {
    border-color: #999999;
}

.settings-form input[type="text"]::placeholder,
.settings-form input[type="email"]::placeholder,
.settings-form input[type="password"]::placeholder {
    color: #999999;
    opacity: 1;
    transition: color 0.3s;
}

.settings-form input[type="text"]:hover::placeholder,
.settings-form input[type="email"]:hover::placeholder,
.settings-form input[type="password"]:hover::placeholder {
    color: #cccccc;
}

.settings-form input[type="text"]:focus::placeholder,
.settings-form input[type="email"]:focus::placeholder,
.settings-form input[type="password"]:focus::placeholder {
    color: #4287f5;
}