
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home-container {
  flex: 1;
  display: flex;
  overflow: hidden;
}
.extender{
  width: 100%;
  padding-top: 74px;
  display: flex;
  overflow-y: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff;
}

.extender::-webkit-scrollbar {
  width: 0; /* For Chrome, Safari, and Opera */
  height: 0;
}


.messenger{

  width: 500px;
  margin-top: 74px;
}

